h3 include Fichier "_incledes/default.html" generer via jade a partire de '_jadefiles/_includes/default.jade'

ul
  li: a(href='#') test
  li: a(href='#') test
  li: a(href='#') test
  li: a(href='#') test