<h3>include Fichier "_incledes/default.html" generer via jade a partire de '_jadefiles/_includes/default.jade'</h3><ul><li><a href="#">test</a></li><li><a href="#">test</a></li><li><a href="#">test</a></li><li><a href="#">test</a></li></ul>